* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  article p {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  ul a {
    text-decoration: none;
    color: black;
  }
  
  /* == Top headerv Navigation == */
  .top-header {
    border-bottom: 1px solid #ddd;
    padding: 0.5rem 0 0.25rem 0;
  }
  
  .top-header nav {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .top-header .left-nav li {
    margin: 0 0.75rem;
  }
  
  .top-header .right-nav li {
    margin: 0 0.12rem;
  }
  
  .nyt-header-log {
    width: 195px;
  }
  
  .caterogry-label {
    font-weight: 600;
    font-size: 14px;
  }
  
  .btn {
    background-color: #fff;
    border: none;
    text-align: center;
    border-radius: 3px;
    font-size: 11px;
    padding: 11px 12px 8px;
  }
  
  .subscribe {
    font-weight: 700;
    background-color: rgb(86, 123, 149);
    color: #fff;
  }
  
  .account {
    font-weight: 500;
    font-size: 13px;
    color: #222;
  }
  
  /* === Article header === */
  .article-header {
    width: 72%;
    margin: 0 auto;
  }
  
  .article-header h1 {
    width: 75%;
    margin: 0 auto;
    font-style: italic;
    font-size: 2.25rem;
    font-family: georgia,'times new roman',times,serif;
    padding: 3rem 1rem 1.5rem;
    line-height: 2.6rem;
  }
  
  .article-header img {
    max-width: 100%;
  }
  
  .article-header .caption {
    width: 75%;
    line-height: 1.25rem;
    padding-right: 5px;
    padding-top: 0.5rem;
  }
  
  /* == Article-body == */
  .article-body {
    border: 1px solid red;
    width: 45%;
    margin: 0 auto;
    padding-right: 25px;
  }
  
  .article-media img {
    max-width: 100%;
  }
  
  .article-body-2 {
    border: 1px solid blue;
    width: 72.5%;
    margin-left: auto;
  }
  
  .article-body-2 div {
    flex-basis: 70%;
  }
  
  .article-body-2 aside {
    flex-basis: 30%;
  }
  
  .article-body-2 .thumb-image img {
    width: 80px;
  }
  
  
  /* === Misc Styles === */
  .flex {
    display: flex;
  }
  
  .flex-space-between {
    justify-content: space-between;
  }
  
  .flex-align-center {
   align-items: center;
  }
  
  .fade-1 {
    color: #666;
  }
  
  .fade-2 {
    color: #888;
  }
  
  .font-size-2 {
    font-size: 0.945rem;
  }
  
  .font-size-3 {
    font-size: 0.75rem;
  }